ChainTable {
    width: 100%;
    height: 100%;
    align: right top;
    column-span: 8;
}

TableTree {
    column-span: 4;
    dock: left;
    height: 100%;
    width: 20;
}

IpTablesTUIApp.tab-0 IpTablesBoard{
    display: block;
}
IpTablesTUIApp.tab-1 ChainTable{
    display: block;
}

IpTablesTUIApp IpTablesBoard{
    display: none;
}
IpTablesTUIApp ChainTable{
    display: none;
}

#title{
    background: $primary-background;
    width: 100%;
    text-style: bold;
}

IpTablesBoard {
    width: 100%;
    height: 100%;
    overflow: auto;
}

IpTablesBoard Container {
    overflow: auto;
}

IpTablesBoard Horizontal Button, IpTablesBoard Horizontal Static, IpTablesBoard Horizontal Label{
    width: 1fr;
    margin-right:1;
    margin-left:1;
}
IpTablesBoard Label{
    content-align: center middle;
}

IpTablesBoard .choice{
    border: dashed grey;
    background: white;
    color: grey;
}

IpTablesBoard .raw {
    background: red;
}
IpTablesBoard .mangle {
    background: cyan;
}
IpTablesBoard .nat {
    background: purple;
}
IpTablesBoard .filter {
    background: green;
}
IpTablesBoard .security {
    background: yellow;
}


IpTablesBoard .raw{
    background: red;
}

.w1 {
    width: 1;
}

.h1 {
    height: 1;
}

.h3 {
    height: 3;
}